/*-------------POLITICAS DE PRIVACIDAD--------------*/

#politicas {
    background-color: #0d2149;
    padding: 2em 6.688em 4em 6.688em;
}

#politicas .content {
    font-family: "Raleway", sans-serif;
    color: #f8f8f8;
    max-width: 100%;
    box-sizing: border-box;
}

#politicas h1 {
    font-size: 3em;
    text-align: left;
    margin-top: 1em;
    line-height: 1;
}

#politicas h2 {
    font-size: 1.5em;
    text-align: left;
    margin-top: 2em;
    font-weight: 800;
}

#politicas p {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 600;
    margin-top: 1em;
}

#politicas .content ul li {
    font-size: 1.5em;
    font-weight: 600;
}

#politicas .content ol {
    list-style-type: none;
    padding: 0;
}

#politicas .content ol > li {
    margin-bottom: 3em;
}

#politicas .content ol > li > h2 {
    font-size: 1.5em;
    font-weight: 800;
    padding-top: 2em;
    margin: 0;
    display: flex;
    align-items: center;
}

#politicas .content .number {
    margin-right: 0.5em;
}

    
@media screen and (max-width: 480px) {
    #politicas{
        padding: 0 1em;
    }

    #politicas p{
        font-size: 0.8em;
    }

    #politicas .content ul li {
        font-size: 0.8em;
    }

    #politicas h2{
        font-size: 1.5em;
    }

    #politicas h1{
        font-size: 1.5em;
    }
}



/*-------------TERMINOS Y CONDICIONES--------------*/


#terms1{
    background-color: #0d2149;
    color: #f8f8f8;
    padding: 4em 6.688em 4em 6.688em;
}

#terms1 p{
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.5em;
}

#terms1 h1{
    font-size: 3em;
    padding-bottom: 1em;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.left {
    padding-right: 2em;
}

.right {
    padding-left: 2em;
}

.imagen-pequena {
    width: 100%;
    height: auto;
}


#terms2{
    background-color: #CBD3F2;
    color: #0d2149;
    padding: 4em 6.688em 4em 6.688em;
}

#terms2 p{
    color: #0d2149;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.5em;
}

#terms2 h3{
    font-size: 2em;
    padding-top: 1em;
    font-weight: 700;
}


@media screen and (max-width: 480px) {
    #terms1{
        padding: 0 1em;
    }

    #terms1 p{
        font-size: 0.8em;
    }

    #terms1 h2{
        font-size: 1.5em;
    }

    #terms1 h1{
        font-size: 1.5em;
    }

    #terms2{
        padding-left: 1em;
        padding-right: 1em;
    } 

    #terms2 p{
        font-size: 0.8em;
    }

    #terms2 h3{
        font-size: 1em;
    }

  }

  @media (max-width: 400px) {

    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
        text-align: left;
    }

    .left,
    .right {
        padding: 2em 0em;

    }

    .right {
        order: -1;
    }


    .button {
        font-size: 0.8em;
   }    
}